/* ATUALIZAR O EXERCÃCIO USANDO FLEXBOX */
body{
    background-color: rgb(141, 24, 24);
    background-image: linear-gradient(to right, rgb(141, 24, 24), black);
    font-family: Verdana, sans-serif;
    color: aliceblue;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: blue;
    font-style: bold;
}

.container{
    margin: 0 10%;
    margin-block: 10%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
    box-shadow: 2px 2px 5px black;
    padding: 5px 5px 150px 5px;
    position: relative;
}

/* .box{
    width: 10%;
    height: 10%;
    min-width: 200px;
    padding: 2%;
    text-align: center;
} */

.corpo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.legenda{
    position: absolute;
}

.legenda-ryan{
    width: 20%;
}

.legenda-teenager{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
}

.legenda-lancamento{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}

span{
    font-weight: bold;
}

.rodape{
    padding: 50px;
    background-image: cross-fade(0.5 black);
    font-size: 30px;
    margin-top: 10%;
}

/* ESTILIZANDO MENU */
.cabecalho{
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.cabecalho > div  a{
    padding: 2rem 0;
    color: #fff;
    border-radius: 1rem;
}

.cabecalho > div a:hover{
   background-color: chocolate;
}

.menu li{
    display: inline;
    margin-left: 2rem;
}

.menu li a{
    padding: 1rem 0;
    color: #fff;
    text-decoration: none;
    border-radius: 1rem;
}

.menu li a:hover{
    padding: 2rem 0;
    background-color: brown;
}

.rodape > a{
  position: relative;
  bottom: 50%;
}

/* MEDIA QUERY */

@media (max-width: 1100px){
    .box-teenager, .box-lancamento {
        margin-bottom: 80px;
    }

    .box-ryan{
        margin-bottom: 120px;
    }

    .legenda-ryan{
        width: 30%;
    }

    .legenda-teenager{
        width: 85%;
    }
    .legenda-lancamento{
        width: 40%;
    }
}

@media (max-width: 930px){
    .legenda-ryan{
        width: 40%;
    }
}